<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Item</title>
</head>
<body>
<h1>New Item</h1>
<form method="post" th:action="@{/items}">
    <label>Name:</label>
    <input type="text" th:field="*{item.name}" /><br/>
    <label>Price:</label>
    <input type="text" th:field="*{item.price}" /><br/>
    <label>Quantity:</label>
    <input type="text" th:field="*{item.qty}" /><br/>
    <button type="submit">Save</button>
</form>

</body>
</html>
