<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <title>New Item</title>
</head>
<body>
<div class="container">
    <h1 class="text-center">New Item</h1>
    <form method="post" th:action="@{/items}">
        <div class="form-group">
            <label>Name:</label>
            <input th:field="*{item.name}" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Item Name">
        </div>
        <div class="form-group">
            <label>Price:</label>
            <input th:field="*{item.price}" type="text" class="form-control" placeholder="Price">
        </div>
        <div class="form-group">
            <label>Quantity:</label>
            <input th:field="*{item.qty}" type="text" class="form-control" placeholder="Quantity">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


</body>
</html>
